header,.section,.header__content,.navabar,.section2,.section3,.section4,
.section6,.section5,.section7,.section8,
.section9,.section10,.section11,.section13,.section14,
.section15__content,.carta
{
	width: 100%;
}

.header__content,.social__part,.navabar__content,.nav__ul,.section__inner,
.section2__inner,.section3__content,.section4__inner,.section5__inner,
.section5__box__part,.section6__part,.section7__inner,.section7__box-inner,
.section8__inner,.section8__navabr,.section8_ul,.section8__img__inner,
.modal-container,.section8_modal__img__inner,.section9__inner,
.section9__img__inner,.section9__border,.section10__inner,
.section11__conetnt,.section12__content,.section13__content,
.Section13__part__content,.section13__part__inner,.section14__inner,
.section14__box1__img2,.section15,.section15__content__inner
{
	display: flex;
}


.header__content,.navabar,.section__inner,.section3__inner,
.section4__inner,.section5,.section5__box__part,
.section5__inner,.section6__part,.section7__inner,.section7__box__part,
.section8,.section9__inner,
.section9__img_content,.section10__inner,
.section11__conetnt,.section12__content,.section13__inner,
.section14__inner,.section15,.section15__content__inner
{
	margin: 0 auto;
    padding: 20px 72px;
}

.social__part1,
.social__part2,.header__tel a,.nav__link,.btn a,
.section14_box1_text_footer a,.btn2_a,.mat_tel a
{
	text-decoration: none;
}
 