* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: 'Conv_MontserratAlternates-Italic';
    src: url('../fonts/MontserratAlternates-Italic.eot');
    src: local('☺'), url('../fonts/MontserratAlternates-Italic.woff') format('woff'), url('../fonts/MontserratAlternates-Italic.ttf') format('truetype'), url('../fonts/MontserratAlternates-Italic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_MontserratAlternates-Light';
    src: url('../fonts/MontserratAlternates-Light.eot');
    src: local('☺'), url('../fonts/MontserratAlternates-Light.woff') format('woff'), url('../fonts/MontserratAlternates-Light.ttf') format('truetype'), url('../fonts/MontserratAlternates-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'Montserrat', sans-serif;
}

/*header part*/

header,.section2{
    background:#004464;
}

.header__tel a{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
}

@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
  }
 
  100% {
    box-shadow: 0 0 0 40px rgba(0, 0, 0, 0);
  }
}

.header__content figure{
    animation: radial-pulse 1s infinite;
    border-radius: 50%;
}

.social__part1{
    border-radius: 50%;
    border:1px solid #fff;
    width: 28px;
    height: 28px;
}

.social__part:hover,.social__part2:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.social__part{
    margin-left: 638px;
}


.social__img2{
    transform: translate(-157%,-34%);
}

.social__img3{
   margin-left: 5px;
}

.social__img1{
    transform: translate(21%,34%);
}

.social__img3{
    transform: translate(13%,4%);
}

/*navbar__part*/

.nav__ul{
    list-style: none;
}

.nav__ul{
  margin-left: 363px;
}

.nav__link{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #1E1E1E;
    margin: 0 0 0 24px;
}

.nav__link:hover{
    color: #004464;
}

/*section part*/
.section{
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image:  url("../img/24d74520714037 1.png");
    min-height: 743px;
}

.section__content{
    height: 743px;
    left: 0px;
    top: 169px;
    background: rgba(0, 0, 0, 0.7);
}


.section__text1{
    font-weight: normal;
    font-size: 42px;
    line-height: 60px;
}

h1{
    width: 600px;
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 77px;
    color: #FFFFFF;
}

.section__text{
    margin-top:177px;
}

.btn{
    position: absolute; 
    width: 345px;
    height: 48px;
    margin-top:81px;  
}

.section__input{
    width: 480px;
    height: 486px;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 113px;
    margin-top:156px;
}

.username,.telefon{
    width: 360px;
    height: 0px;
    border: 2px solid #FFFFFF;
    padding: 10px;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;

}

.telefon{
    margin-top:65px;
}

input::placeholder{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;

}

.section__input form{
    padding: 94px 58px 0;
     justify-content: center;
}

.btn2{
    width: 350px;
    height: 60px;
    margin-top:62px;

}

.btn2_a{
 color: #FFFFFF;
}

.btn2,.btn{
    background: #5EAED8;
    border-radius: 30px;
    border:none;
    outline: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer; 
    text-align: center;
    
}
.btn2_a,.section7_btn_a{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: block;
}


.btn2,.btn,.section7_btn_a{
    overflow: hidden;
    margin: 30px 0;
    position: relative;
}


.btn2_a:hover{
    text-shadow: 0 50px 0 #FFF, 1px 51px 20px #FFF;
    margin-top: -33px;
    height: 100px;
}

.section7_btn_a:hover{
 text-shadow: 0 50px 0 #FFF, 1px 51px 20px #FFF;
    margin-top: -33px;
    height: 100px;
}
/*section2*/

.section2__text1 span{
   font-family: 'Conv_MontserratAlternates-Italic';
   color: #079AE6;
   font-size: 64px;
}

.section2__inner{
    margin: 0 auto;
    padding: 55px 46px;
}

.section2__text1 h3{
    width: 376px;
    font-family: 'Conv_MontserratAlternates-Italic';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 56px;
    color: white;
    margin-left: 48px;
}

.border{
    width: 105px;
}

.border1{
    transform: translate(736%,-42%);
}

.border2{
    width: 300px;
    margin-left: 10px; 
}

.border,.border2{
    border: 1px solid #FFFFFF;
    height: 0px;
    margin-top: 32px;
}

.border1,.border3{
    width: 13px;
    height: 13px;
    background: #FFFFFF;
    filter: blur(4px);
}

.border3{
    transform: translate(2249%,-42%);
}

.box1,
.box2,
.box3{
    width: 389px;
    height: 414px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 0px 5px #004464;
    border-radius: 30px;
}

/*section box1*/

.section3__content{
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: space-between;
    margin:44px 0 45px;
}

.box1__img__part{
    margin:33px 161px;
}

.section5__box1:hover,
.section5__box2:hover,
.section5__box3:hover,
.section5__box4:hover,
.section5__box5:hover,
.section5__box6:hover,
.box1:hover,.box2:hover,.box3:hover{
    background: #004464;
    color: #fff;
    transition: all 0.3s;
}

.box1__img__text h3,.box2__img__text h3,.box3__img__text h3{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}


.box1__img__text p,.box2__img__text p,.box3__img__text p{
    width: 336px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;  
    text-align: center;
    margin: 27px 20px;
}

/*section4*/

.section4{
    background: rgba(0, 0, 0, 0.1);
}

.section4__border{
    width: 105px;
    height: 0px;
    border: 1px solid #1E1E1E;
    margin-top: 10px;
}

.section4__border1{
    width: 13px;
    height: 13px;
    background: #1E1E1E;
    filter: blur(4px);
    transform: translate(745%,-48%);
}

.section4__border2{
    width: 19px;
    height: 19px;
    background: #0AA0DE;
    filter: blur(10px);
    transform: translate(500%,-106%);
}

.section4__text{
    margin:0 30px;
}

.section4__text h3,h4{
    font-family: 'Conv_MontserratAlternates-Light';
    font-style: normal;
}

.section4__text h3{
    font-size: 40px;
    line-height: 30px;
    font-weight: 700;
}

.section4__text h4{
    font-size: 15px;
    line-height: 48px;
    font-weight: 300;
}

.section4__vi__inner{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

.section4_vid {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image:  url("../img/alvaro-reyes-qWwpHwip31M-unsplash 1.png");
    border-radius: 30px;
}
 
.section4__vi__inner,
.section4_vid{
    width: 1198px;
    height: 724px;
}

.section4__vid__part{
    margin:0 71px;
    padding: 0 0 70px;
}

.section4_vid_text h3{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
}

.section4_vid_text h5{
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 59px;
    color: #FFFFFF;

}

.section4_vid_text{
    padding: 55px 73px ;
}

.section4__icon{
    margin: 135px 565px;
}


/*section5*/
.section5__text__part h3{
    width: 510px;
    font-family: 'Conv_MontserratAlternates-Light';
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
    color: #1E1E1E;
}

.section5_bord{
    margin-top: 20px;
}

.section5__text__part{
    padding: 0 44px;
}

.section5__box1,
.section5__box2,
.section5__box3,
.section5__box4,
.section5__box5,
.section5__box6{
    width: 389px;
    height: 320px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 0px 5px #004464;
    border-radius: 30px;
}

.section5__box__part{
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: space-between;
}


.section5__box4,
.section5__box5,
.section5__box6{
    margin-top: 40px;
}

.section5__img__box{
    margin:16px 161px;
}


.section5_box_tex h3{
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-top: 20px;
}

.section5_box_tex p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin:25px 45px;
}
   

   /*section6*/
.section6{
    position: absolute;
}

.section6__inner{
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image:  url("../img/scott-graham-5fNmWej4tAA-unsplash 1.png");
    min-height: 743px;
}

.section6__part{
    height: 743px;
    background: rgba(0, 0, 0, 0.7);
}

.section6__text h3{
    width: 359px;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 88px;
    color: #FFFFFF;
}

.section6__text{
    margin-top:195px;
    font-family: 'Conv_MontserratAlternates-Light';
}

.section6__text h4,.section6_tex{
    font-style: normal;
    font-weight: normal;
    line-height: 59px;
    color: #FFFFFF;
}

.section6__text h4{
    font-size: 48px;
    margin-top: 20px;
    transform: translate(-8%,0);
}

.section6_tex{
    font-size: 23px;
}

/*section7*/

.section7__text h3{
    font-family: 'Conv_MontserratAlternates-Light';
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 88px;
    color: #1E1E1E;
    margin-left: 25px;
}

.section7-bord{
    margin-top: 27px;
}

.section7__inner{
    margin-top: 40px;
}

.section7__box-inner{
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: space-between;
}

.section7__box1,
.section7__box2,
.section7__box3{
    width: 389px;
    height: 392px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 0px 5px #004464;
    border-radius: 30px;
}

.section7__box1__text h3{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-align: center;
    padding: 34px;
}

.section7__box1__text p{
    width: 229px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin:0 57px;

}

.section7__box_buton button,.section7_btn_a{
    width: 389px;
    height: 60px;
    background: #5EAED8;
    border-radius: 30px;
    outline: none;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.section7_box1_tex2{
    padding: 15px 0;
}

.section7_btn{
    margin-top: 148px;
}

.section7_border{
    width: 155px;
    height: 155px;
    background: #004464;
    border-radius: 50%;
    margin: 143px 243px;
}

.section7_border_text{
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
    transform: translate(0,71%);
}

.border-text3{
    transform: translate(0,-43%);
}

.border-text4{
    transform: translate(0,-141%);
}

/*section8*/

.section8__text h3{
    font-family: 'Conv_MontserratAlternates-Light';
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 88px;
    color: #1E1E1E;
    margin-left: 20px;
}

.section8__inner{
    margin-top:74px;
}

.section8_link{
    color: black
}

.section8_li,
.section8_link{
    text-decoration: none;
    list-style: none;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 37px;
    color: #1E1E1E;
    padding: 30px 9px;
}

.modal {
    top: 0;
    position: fixed;
    width: 1203px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(51,51,51, 0.8);
    margin-left: 74px;
    border-radius: 10%;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.section8__img__inner{
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: space-between;
    margin-top: 50px;

}

.section8_modal_img1{
    width: 303px;
}

.section8__img1{
    border-radius: 10%;
}

.section8_img_part1{
    margin-top:40px;
}

.section8_modal__img__inner{
    margin:34px;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: space-between;
}

.section8_modal_img1{
    border-radius: 5%;
}

.section8_modal_img_part{
    padding: 0 0 20px;
}


/*section9*/

.section9{
    background: #004464;
}

.section9__text_h3{
    font-family: 'Conv_MontserratAlternates-Light';
    font-size: 43px;
    line-height: 59px;
    width: 424px;
}

.section9__text_p{
    font-size: 18px;
    line-height: 29px;
    margin-top: 10px;
    animation-duration:3s;
}

.section9_border2{
    transform: translate(330%,-48%);
}

.section9__text_h3,.section9__text_p{
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
}

.section9__text{
    margin-left: 20px;
    margin-top: 10px;
}

.section9__img__inner{
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: space-between;
    padding: 64px 0 0;
}

.section9_img1 h3{
    width: 178px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 30px;
}

.section9_img1 p{
    width: 241px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin-top:55px;

}

.section9__img{
    margin-left: 53px;
}


.section9_img2{
    transform: translate(0,-67%);
}

.section10{
    position: relative;
}

/*section10*/

.section10__img__part{
    position: absolute;
    left: 17%;
    top: 6%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-49%,-37%);
    z-index: -5;
}

.section10__img__part{
    width: 500px;
}

.section10__text2 h3{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    color: #1E1E1E;
}

.section10__text2 h4{
    font-size: 50px;
}

.section10__text2 h3,h4{
    margin-left: 46px;
}

.section10__part1 img{
    position: absolute;
    width: 250;
    margin-left: 89px;
}

.section10__part2 img {
    width: 100%;
    max-width: 80%;
    margin-left: 181px;
    margin-top: 153px;
}

.section10__part2{
    margin: 0 0 47px;
}


.section11{
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image:  url("../img/noah-windler-gQI8BOaL69o-unsplash 1.png");
    min-height: 682px;
}

.section11__inner{
    height: 682px;
    background: rgba(0, 0, 0, 0.7);
}

.section11__let__text,.section11_tex{
    font-family: 'Conv_MontserratAlternates-Light';
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
}

.section11__let__text h3{
  font-size: 58px;
}

.section11__let__text h4{
    font-size: 40px;
    transform: translate(-10%,0);
    font-weight: 300;
    margin-top: 20;
}

.section11_text{
    font-size: 20px;
    font-weight: 300;
}

.section11__left__part{
    margin-top: 287px;
}

/*section12*/

.section12__inner{
    margin-top:50px;
}

.section11_part_text{
    font-family: 'Conv_MontserratAlternates-Light';
    font-style: normal;
    font-weight: normal;
    color: #000000;
}

.section11_part_text h3{
     width: 374px;
    font-size: 30px;
    line-height: 40px;
    margin: 84px 46px;
}

.section11_part_text p{
     width: 442px;
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
}

.section12__img__part img{
    width: 500px;
    object-fit: contain;
    margin: 34px 84px ;
}

.section__inner__text h3{
    font-family: 'Conv_MontserratAlternates-Light';
    font-style: normal;
    font-weight: normal;
    font-size: 41px;
    line-height: 59px;
    color: #000000;
    margin: 21px 36px;
}

    .section13__part{
    width: 1205px;
    height: 722px;
    border: 10px solid #004464;
    margin-top: 132px;
    margin: 81px 0 171px;

}

.section13__img__part img{
   transform: translate(1%,-11%);
    height: 846px;
}

.section13__text__part h3{
    width: 557px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #004464
}

.section13__text__part{
    margin:77px;
}

.section13__text1{
    width: 557px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 32px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #004464;
    margin-top:46px;
}

.section13__img4{
    position: absolute;
    right: 0;
    z-index: -6;
    margin-top: 456px;
}

.section13__img4 img{
    width: 300px;
}

.section14__content{
    background-color: #F9F9F9;
}

.section14__content__inner{
    background-image: url(../img/reviews-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 135px 70px 122px;
}


.section14__box1{
    width: 531.5px;
    height: 680px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.section14__box1__img img{
    padding: 43px 135px 0px;
}

.section14__box1__img h3{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-align: center;
    padding: 10px;
}

.section14__box1__text{
    padding: 36px 23px 0;
}

.section14__box1__tex__part p{
    padding: 11px 0 0 0;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.section14_box1_text_footer a{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: #000000;   
}

.section14_box1_text_footer{
    margin-top: 20px;
    border-bottom:1px solid #999999;
    width: 273px;
    padding: 0 0 5px;
}

.section14__box1:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.section15{
    margin: 52px 1px 40px;
}

.section15__content{
    background: #F9F9F9;
}

.section15__content__inner{
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: space-between;
}

.section15__content__inner img{
    object-fit: contain;
}

.section15_img{
    width: 219px;
    height: 124px;
    background: #050505;
    margin-top:33px;
}

.wrp {
    margin: 0 auto;
    position: relative;
}

.map-box { 
    position: absolute;
    top: 70px;
    left: 20px; 
    padding: 20px;
    background: #FFFFFF;
    border: 2px solid #004464;
    z-index: 100;
    width: 396px;
    margin:42px 215px;
}


.map_box_text,.mat_tel a{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

.mat_tel a{
     font-weight: normal;
}

.map_box_cont{
    display: flex;
   padding: 25px 37px 5px;
   margin-top:30px;
}

.mat_tel{
    padding: 0 10px;
}

.mat_tel2{
   margin-top:10px;
}

.map_box_text2{
    margin-top: 30px;
}
